body {
	background-color: #444;
	color: #fff;
	font-family: sans-serif;
}

h1 {
	margin: 0;
}

.margin-10 {
	margin-bottom: 10px;
}

input,
textarea {
	margin: 10px;
}

li {
	list-style-type: none;
	margin: 10px;
}

a:link,
a:visited {
	color: #bbb;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
