<%# add navigation links to this file %>
<li>
  	<%= link_to("Home", home_path) unless current_page?(home_path) %><!-- Home Link -->
</li>
<li>
	<%= link_to("About", about_path) unless current_page?(about_path) %><!-- About Link -->
</li>
<li>
	<%= link_to("Blog", blog_path) unless current_page?(blog_path) %><!-- Blog link -->
</li>
<li>
	<%= link_to("Contact", contact_path) unless current_page?(contact_path) %><!-- Contact Link -->
</li>
