<!-- app/views/contacts/index.html.erb -->
<h1> Contact List </h1>
<ul>
	<% @contacts.each do |contact| %>
		<li><%= contact.name %></li>
<% end %>
</ul>

<%= link_to 'Add new contact', contacts_new_path %>