// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h4 {
	margin: 0;
}

.comments {
	background-color: #eee;
	padding: 12px;
	color: #222;
}