body {
	background: url("https://trello-backgrounds.s3.amazonaws.com/53baf533e697a982248cd73f/4200x4200/48dbf0b5a546541e847e267a5dcd2201/shutterstock_134707556.jpg");
	color: #fff;
}

a:link,
a:visited {
	color: #fff;
}

.nav {
	padding: 0;
	font-weight: bold;
	margin-left: -35px;
}

ul {
	list-style-type: none;
	

}

ul li {
	float: left;
	padding: 10px
}

.logo {
	width: 30%;
	margin: 0 auto;
	height: 20px;
}

img {
	width: 20%;
}


.buttons {
	margin-right: -30px;
	padding: 0;
	float: right;
	width: 17.5%;
}

.row {
	text-align: center;
}

.sign-up {
	background-color: rgb(239, 227, 195);
	color: #444;
	padding: 10px
}

.grey-area {
	background-color: #E2E4E6;
	border-radius: 5px;
	color: #4d4d4d;
	overflow: auto;
	text-align: left;
	padding-left: 3px;
	font-weight: bold;
}

.bg-white {
	background: #fff;
	border-radius: 3px;
	width: 50%;
	margin: 5px auto;
	box-shadow: 1px 1px 1px 1px #ccc;
	font-weight: normal;
}