@font-face {
font-family: ProximaNova-Light;
src: url("../fonts/ProximaNova-Light.otf") format("opentype");
}

@font-face {
font-family: ProximaNova-Reg;
src: url("../fonts/ProximaNova-Reg.otf") format("opentype");
}

@font-face {
font-family: ProximaNova-Sbold;
src: url("../fonts/ProximaNova-Sbold.otf") format("opentype");
}

body {
	color: #fff;
	
}

h1 {
	padding: 0 20px;
	font-size: 60px;
	font-family: ProximaNova-Reg;
}

h3 {
	font-family: ProximaNova-Sbold;
	padding-left: 90px;
	color: #222;
	font-size: 32px;
}

.netflix-bg {
	background: url("../images/family.jpg") repeat 0 0;
	height: 670px;
	
}

.netflix-logo {
	display: inline;
	width: 220px;
}

.sign-in {
	background-color: rgb(226, 18, 33);
	font-family: ProximaNova-Light;
	font-size: 20px;
	color: #fff;
	display: inline;
	float: right;
	border: none;
	padding: 15px 50px;
	margin: 30px;
}

.fifty-opaque {
	background-color: rgba(0, 0, 0, .5);
	margin: 75px auto;
	width: 65%;
	padding: 20px 0;
}

.free-month {
	font-family: ProximaNova-Light;
	font-size: 24px;
	padding: 15px 50px;
	margin: auto;
	background-color: rgb(70, 157, 246);
	border: none;
	color: #fff;
	display: block;

}

.movie-posters-ul {
	list-style-type: none;
}

.movie-posters {
	display: inline;
	float: left;
}

li img {
	width: 150px;
	margin-left: 75px;
}





