<!-- views/about.erb-->
<h1> About Us </h1>

<p>While witnessing the Web evolve everyday, Matt is eager to stay up to date on the latest technologies. By setting his creative ideas into motion, he has jumpstarted his career as a software engineer. His hand-crafted projects are polished to demonstrate responsively, sustain functionality, and operate at top-tier performance. <a href='/'>Go back.</a>"</p>

