<div class="yield">
	<h2>Welcome! Concerts happening today:</h2>
	<ul><% if @date_until_today.length > 0 %>
			<% @date_until_today.each do |concert| %>
				<li><%= link_to "#{concert.artist}", concert_path(concert) %></li><br>
			<% end %>
		<% else %>
			<li>No concerts today</li>
		<% end %>
	</ul>
	<br>
	<%= link_to "Add New Concert", new_concert_path %>
</div>
<div class="aside">
	<%= render "fixed_sections/aside" %>
</div>
