<div class="yield">
	<h2>Welcome! Concerts happening today:</h2>
	<ul>
		<% @date_until_today.each do |concert| %>
			<li><%= concert.artist %></li><br>
		<% end %>
	</ul>
	<br>
	<%= link_to "Add New Concert", new_concert_path %>
</div>
<div class="aside">
	<%= render "fixed_sections/aside" %>
</div>