<link rel="stylesheet" type="text/css" href="/main.css">
<div class="margin-10">Authors:</div>
<% @posts.each do |post| %>
	<div class="margin-10"><%= post.author %></div><br>
<% end %>

<a href="/">Go back</a>	