<link rel="stylesheet" type="text/css" href="/main.css">
<div class="margin-10">Categories:</div>
<% @posts.each do |post| %>
	<div class="margin-10"><%= post.category %></div><br>
<% end %>

<a href="/">Go back</a>	