<link rel="stylesheet" type="text/css" href="/normalize.css">
<link rel="stylesheet" type="text/css" href="/main.css">

<h1>IMDB Movie Lovers</h1>
<h3>Search for movie posters</h3>
<form action="/search_results" method="get">
	<input type="text" name="search_term" placeholder="Search IMDB">
	<button type="submit" value="search">Submit</button>
</form>

