<link rel="stylesheet" type="text/css" href="/normalize.css">
<link rel="stylesheet" type="text/css" href="/main.css">
<h1> Movie Trivia </h1>
<% movie_posters = [] %>
<% @movies.each do |the_movie| %>
	<% movie_posters.push(the_movie.poster) %>
	<% break if movie_posters.length == 9 %>
<% end %>

<% movie_posters.each do |the_poster| %>
	<img src="<%= the_poster %>">
<% end %>
<br>
<p> Showing <strong> <%= movie_posters.length %></strong> results.</p>
<br>
<a href="/">Go back</a>
