<h1>Auction Site</h1>

<ul>
<% @products.each do |product| %>
  <li>
    <%= link_to product.title, user_product_path(@user, product) %> 
  </li>
<% end %>
</ul>

<%= link_to 'Add User', new_user_path %>
<%= link_to 'View Users', users_path %>



